<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokemon_Go_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Pokemon_Go_Database.Properties.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value>C:\Users\patricks\Documents\GitHub\Pokemon-Go\Pokemon Go Database\Data</value>
            </setting>
        </Pokemon_Go_Database.Properties.Settings>
    </userSettings>
</configuration>